.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-left: 50px;
    
}

.btn-info{
   margin-top: 30px;
    
}

.btn-style{
    border: none;
    padding: 15px;
    border-radius: 20px;
    background-color: violet;
}
